/* main.css */
@import url("https://fonts.google.com/specimen/Roboto?selection.family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

@import url("../fontawesome/css/all.min.css");
/* b. Reset
      Adapted from:
      Normalize.css - https://github.com/necolas/normalize.css/
      HTML5 Doctor Reset - html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}

/* c. Default and Basic Styles
      Adapted from:
      Skeleton CSS Framework - http://www.getskeleton.com/
      Typeplate Typographic Starter Kit - http://typeplate.com/
*/

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html {
    font-size: 16px;
}
html, *{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    color: #2e3440;
    font-size: 1rem; /*размер в rem - относительно родительского*/
    line-height: 1.5; /*межстрочный интервал*/
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0.75 0.5;
    font-weight: 500;
}
h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
strong {
    font-weight: 700;
}

/* Navigation */
a {
    text-decoration: none;
}
a:link {
    color: rgba(74, 5, 158, 1);
}
a:visited {
    color: rgba(74, 5, 158, 1);
}
a:hover, a:focus {
    text-decoration: underline;
}
.navbar {
    width: 100%;
    max-width: 100%;
    display: table;
    background:url(../images/pattern04.jpg) white;
}
.navbar-items {
    float: right;
    margin-top: 0%;
    padding-right: 2em;
}
.navbar-items li {
    list-style: none;
    display: inline-block;
    margin-left: 2em;
    padding: 10px 10px;
    color: azure;  
}
.navbar a {
    font-size: 1.2em;
}
/*
.navbar a {
    color: rgba(250, 250, 250, 0.05)
    padding: 10px 20px;
    font-size: 1.2em;
}
*/
.navbar-logo {
    float: left;
    margin-top: 0%;
    padding-right: 2em;
}
.logo {
    margin-left: 2em;
    display: inline-block;
    padding: 10px 0px;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
    text-decoration: none;
}
.navbar a:hover, .navbar a:focus, .navbar a:active, .navbar a.active {
    color: #dccbf1;
    background: rgba(11, 114, 143, 0.15);
    text-decoration: underline;
}
.navbar label {
    display: block;
}

/*Header*/
.header {
    color: #fff;
    text-align: center;
    padding: 6em 0;
    background-attachment: fixed;
	background-color: white;
	background-image: url("../images/leaf01.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-content {
    margin: 0px auto;
}

img {
    max-width: 100%;
    height: auto;
}


/*Main*/
.main {
    width: 70%;
    float: left;
    padding: 0 1.5em;
}

.sidebar {
    width: 30%;
    float: right;
    padding: 0 1.5em;
}




/* blog-post */
.blog-post {
	padding-bottom: 0.8em;
	margin-bottom: 1.8em;
}
.blog-post header { 
    height: auto; 
}
.blog-post--meta ul {
	margin: 0.4em 0 1.1em;
	color: #B7B9BD;
	line-height: 1.8em;
}
.blog-post--meta ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
.blog-post--meta ul li a { 
    color: #B7B9BD; 
}
p {
    margin: 0.5em;
}
/*обтекание текстом картинки с помощью float*/
.float-right {
    float: right;
    margin: 0 0 0 15px;
    width: 300px;
}
.float-left {
    float: left;
    margin: 0 15px 0 0;
    width: 300px;
}
/*END обтекание текстом картинки с помощью float*/



.sidebar .widget { 
    margin-bottom: 1.2em; 
}
.sidebar p { 
    margin-bottom: 0.8em; 
}
.sidebar hr { 
    margin-bottom: 1.8em; 
}
.sidebar .widget li {
    list-style: none;
}
/* search  */
.sidebar .widget-search { 
	padding-top: 0;  
	margin-bottom: 2rem;
}
.sidebar .widget-search .text-search {
	padding-right: 40px;
	border:none;
    width: 100%;
    min-width: 150px;
}
.container {
    margin: 0 auto;
    padding: 0 0.75rem;
    width: 100%;
}


/*пустой блок для очистки слева и справа "both"с отсутствующим контентом*/
.cf {
    clear: both;
    display: block;
    content: '';
}


/*Footer*/
.footer {
    width: 100%;
	padding: 0;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #717171;
	text-align: center;
    border-top: 1px solid #CECECE;
    background: #f8f8f8;
}
.footer .copyright {
    color: rgb(95, 58, 228);
    font-size: 0.9em;
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
}
.footer .copyright li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    margin-left: 1.5em;
    padding-left: 1.5em;
}
.footer li {
    display: inline-block;
    list-style: none;
}
.float-right  {
    float: right;   
    margin: 0 0 0 15px;
    width: 300px;
}
.float-left {
    float: left;   
    margin: 0 15px 0 0;
    width: 300px;
}
.footer .footer-socials {
    margin: 60px 0 20px;
    text-align: center;
}
.footer .footer-socials a {
	display: inline-block;
	margin-right: 5px;
	background-color: #002e5b;
	color: #fff;
	font-size: 20px;
	line-height: 45px;
	width: 45px;
	height: 45px;
    border-radius: 50%;
    text-align: center;
}
.footer .footer-socials a:hover {
    background-color: #fed136;
    color: #002e5b;
}












/*calc*/
.main {
    width: calc(70%-8px);
    float: left;
}

.aside {

}
/*calc*/


.row > * {
    float: left;
    box-sizing: content-box;
}


