html {
    font-size: 16px;
}
body {
    color: black;
    font-size: 1rem; /*размер в rem - относительно родительского*/
    line-height: 1.5; /*межстрочный интервал*/
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.2em;
}
strong {
    font-weight: 600;
}
header {
    height: 20vh; /*задаем высоту основного заголовка*/
    background-color: lightskyblue;
}
main {
    width: 70%;
    float: left;
    color: black;
    }
    
.sidebar {
    width: 30%;
    float: right;
}
/*blog-post*/
.blog-post header {
    height: auto;
}
/*end blog-post*/



.blog-post--meta li{
    display: inline-block;
}



.image {
    display: block;
    max-width: 100%;
    height: auto;
}
.image img {
    display: block;
}

.article-item {
    color: blue;
    font-size: 1em;
}
.row {
    display: inline;

}






.button.special:hover {
    background: rgba(225, 75, 75, 0.2);
}


header.special .icon:before {
    font-size: 3.5em;
    opacity: 0.35; /*прозрачность иконки*/
}




.footer {
    width: 100%;
}

.footer .footer-socials a {
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 45px;
    width: 45px;
    height: 45px;
    background-color: silver;
}







</style>